<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body style="background-color: #f2f2f2; font-family: 'Roboto', sans-serif; color: #333333; line-height: 150%; font-size: 14px;">

<table bgcolor="#FFF" cellpadding="0" cellspacing="0" align="center" width="650px" style="background: white; border-bottom: none; height: 660px;">
    <tr>
        <td>
            <div id="container" style="display: flex; align-items: center; flex-direction: row; width: 100%; height: 320px; background-image: url('https://i.ibb.co/QrKzP54/Perfect-unique-attractive-stylish-geometric-tech-PD-DP-P-D-initial-based-letter-icon-logo-3.png'); background-size: 650px;"></div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div class="div_alignment_text" style="padding: 5%; font-size: 18px;">
                <p class="title_part" style="font-size: 22px; color: #000000; margin-top: 5%; margin-bottom: 0;"><b class="text_bold">Fala #nomeParticipante# !</b></p>
            </div>

            <div>
                <p class="text" style="font-size: medium; margin-left: 1.5rem; font-weight: none; color: #666666; line-height: 1.6;">
                    Espero que esta mensagem o encontre bem. Estou entrando em contato para informar que você foi registrado no maior sistema de gerenciamento logisco do mundo.
                    <br><br>
                    Segue as credenciais para o acesso ao sistema:
                    <br><br>
                    <b class="text_bold_black">Login:</b> #login#
                    <br>
                    <b class="text_bold_black">Senha:</b> #senha#
                    <br><br>
                    <a style="color: rgb(4, 6, 114); font-weight: 700; cursor: pointer;" href="https://pozyscan-frontend-v1.vercel.app/">Clique aqui</a> para acessar ao sistema.
                </p>
            </div>

            <!-- Footer -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #333; color: #fff; padding: 30px 0;">
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="600px" style="max-width: 600px;">
                            <tr>
                                <td width="33.33%" style="padding: 0 15px;">
                                    <h3 style="color: #fff; font-size: 18px;">Sobre Nós</h3>
                                    <p>Algumas informações sobre sua empresa ou site.</p>
                                </td>
                                <td width="33.33%" style="padding: 0 15px;">
                                    <h3 style="color: #fff; font-size: 18px;">Links Úteis</h3>
                                    <ul style="list-style: none; padding: 0;">
                                        <li><a href="#" style="color: #fff; text-decoration: none;">Home</a></li>
                                        <li><a href="#" style="color: #fff; text-decoration: none;">SAC</a></li>
                                        <li><a href="#" style="color: #fff; text-decoration: none;">LINKEDIN</a></li>
                                    </ul>
                                </td>
                                <td width="33.33%" style="padding: 0 15px;">
                                    <h3 style="color: #fff; font-size: 18px;">Contato</h3>
                                    <p>Endereço: 123 Rua Principal, Cidade, País</p>
                                    <p>Email: contato@exemplo.com</p>
                                    <p>Telefone: +123456789</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="background-color: #222; padding: 10px 0;">
                        <p style="margin: 0; font-size: 14px; color: #fff;">&copy; 2024 Meu Sistema. Todos os direitos reservados.</p>
                    </td>
                </tr>
            </table>
            <!-- Fim do Footer -->

        </td>
    </tr>
</table>

</body>

</html>
